.root {
    -fx-base: #2b2b2b;
    -fx-background: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.label {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #4c4c4c;
}
